<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net48" />
  <package id="AutoMapper.Extensions.Microsoft.DependencyInjection" version="8.1.1" targetFramework="net48" />
  <package id="C1.Win" version="4.5.20231.596" targetFramework="net48" />
  <package id="C1.Win.C1Command" version="4.5.20231.596" targetFramework="net48" />
  <package id="C1.Win.C1Input" version="4.5.20231.596" targetFramework="net48" />
  <package id="ErrorOr" version="2.0.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.33.2" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.71.0" targetFramework="net48" />
  <package id="Grpc.Net.Client" version="2.71.0" targetFramework="net48" />
  <package id="Grpc.Net.Client.Web" version="2.71.0" targetFramework="net48" />
  <package id="Grpc.Net.Common" version="2.71.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http.WinHttpHandler" version="10.0.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.6" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>